/*@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,800;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu',sans-serif;
}

html{   scroll-behavior: smooth;    }

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*CUSTOM SCROLL BAR*/
::-webkit-scrollbar{    width: 15px;  }

::-webkit-scrollbar-track{    background: #fff;  } /*COLOR BARRA DE DEZPLAZAMIENTO*/

::-webkit-scrollbar-thumb{    background: #00AAE4; }

::-webkit-scrollbar-thumb:hover{   background: #555;  }

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Estilos de contenido similar (CODIGO)*/
section{    padding: 100px 0;   }

.max-width{ 
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

/*Desacripcion al lado de la imagen*/
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /*color: red;*/
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}




/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*CODIGO 1*/
.navbar{/*section navbar*/
    position: fixed;
    width: 100%;
    z-index: 999;
    /*background: #00AAE4;*/
    /*font-family: 'Prompt',sans-serif;*/
    font-family: 'Ubuntu',sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar.sticky{
    background: #00AAE4;
    padding: 25px 0; /*Tamaño contenedor*/
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
.navbar .logo a{
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.navbar .logo a span{
    color: #00AAE4;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{   color: #000;    }
*/
.navbar .logo a,
.navbar .logo span{
    color: transparent;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    /*border: 2px solid #00AAE4;*/
    cursor: pointer;
}

.navbar .menu li a{
    color: #fff;/*error*/
    display: block;/*para eliminar ?*/
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{   color: #00AAE4; }
.navbar.sticky .menu li a:hover{    color: #fff;    }/*DINAL section navbar*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*STARTS Effect background*/
#particles-js{
    width: 100%;
    height: 100vh;
    background: transparent;
    position: absolute;
}
/*END Effect background*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*CODIGO 2*/
.home{/*section home*/
    display: flex;
    background: #191919;
    /*background: url('/img/banner.jpg') no-repeat center;*/
    height: 100vh;
    color: #fff;
    font-family: 'Prompt',sans-serif;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width{
    width: 100%;/*
    display: flex;*/
}

.home .max-width .row{  margin-right: 0;    }

.home .home-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .home-content .text-1{    font-size: 27px;    }

.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #00AAE4;
    font-weight: 500;
}

.home .home-content .text-3 span{
    color: #00AAE4;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: #00AAE4;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #00AAE4;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #00AAE4;
    background: none;
}/*FINAL section home*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*CODIGO 0*/
.menu-btn{/*section menu-btn*/
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #00AAE4;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{   filter: brightness(90%);    }/*FINAL section home*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 3*/
/*Section ABOUT*/

.about .about-content .left{    width: 45%; }

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{   width: 55%; }

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{    color:#00AAE4;  }

.about .about-content .right p{   text-align: justify;  }

.about .about-content .right a{   
    display: inline-block;
    color: #fff;
    background: #00AAE4;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00AAE4;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #00AAE4;
    background: none;
}/*FINAL Section ABOUT*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 4*/
/*Section SERVICES*/
.services, .teams{
    color: #fff;
    background: #111;
}

.services .title::before,
.teams .title::before{  background: #fff;   }


.services .serv-content .card{
    width: calc(33% - 20px);
    background: #122;
    text-align: center;
    border-radius: 6px;
    border: 3px solid #00AAE4;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover{    background: #00AAE4;    }

.services .serv-content .card .box{    transition: all 0.3s ease;    }

.services .serv-content .card:hover .box{    transform: scale(1.05);    }

.services .serv-content .card i{
    font-size: 50px;
    color: #00AAE4;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i{    color: #fff;    }

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}/*FINAL Section SERVICES*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 5*/
/*Section SKILLS*/


.skills .skills-content .column{    width: calc(50% - 30px);    }

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{   text-align: justify;    }

.skills .skills-content .left a{   
    display: inline-block;
    background: #00AAE4;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00AAE4;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{  color: #00AAE4;   background: none;   }

.skills .skills-content .right .bars{   margin-bottom: 15px;  }

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before{
    height: 100%;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background: #00AAE4;
}

.skills-content .right .html::before{   width: 70%;  }

.skills-content .right .css::before{   width: 40%; }

.skills-content .right .js::before{   width: 40%;  }

.skills-content .right .php::before{   width: 60%;   }

.skills-content .right .java::before{   width: 80%;   }

/*FINAL Section SKILLS*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 6*/
/*Section TEAMS*/

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{   background: #00AAE4;  }

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{  transform: scale(1.05); }

.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #00AAE4;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img{   border-color: #fff; }

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #00AAE4!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{ background: #00AAE4!important;  }

/*FINAL Section TEAMS*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  SECTION CERTIFICATES START  */

.container-emrec{
    position: relative;
    min-height: 100vh;
    background: #fff;
}

.container-emrec h1{
    font-size: 40px;
    font-weight: normal;
    padding: 15px;
    color: #191919;
    text-align: center;
    text-transform: capitalize;
}


.container-emrec .image-containermod{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container-emrec .image-containermod .image-recep{
    width: 350px;
    height: 250px;
    border: 10px solid #eee;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.container-emrec .image-containermod .image-recep img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container-emrec .image-containermod .image-recep:hover img{
    transform: scale(1.2)
}


/*Effect POP UP start*/
.container-emrec .popup-img{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.container-emrec .popup-img span{
    position: absolute;
    margin-top: 300px;
    top: 0;
    right: 100px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container-emrec .popup-img span:hover{
    transform: scale(1.2);
}


.container-emrec .popup-img img{
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    object-fit: cover;
}


    /*media querys*/
@media(max-width: 768px){
    .container-emrec .popup-img img{
        width: 95%;
    }
    .container-emrec .popup-img span{
        margin-top: 500px;
        right: 210px;
    }
}
/*Effect POP UP end*/
/*  SECTION CERTIFICATES END  */

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  SECTION PROJECTS START    */
.filter-gallery{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}
  
.filter-gallery ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-gallery ul li{
  background: #e1e1e1;
  margin: 5px;
  padding: 12px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.filter-gallery ul li.active{
  background: #03a9f4;
  color: #fff;
}

.filter-gallery ul .list:hover{
  font-weight: bold;
}

.filter-gallery .product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-gallery .product .itemBox{
  position: relative;
  width: 400px;/*200px*/
  height: 300px;/*200px*/
  margin: 5px;
  display: block;
  /*effect hover zoom img*/
  overflow: hidden;
}


.filter-gallery .product .itemBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*effect hover zoom img*/
  transition: 1s;
}

.filter-gallery .product .itemBox.hide{
  display: none;
}
/*effect hover zoom img START*/
.filter-gallery .product .itemBox:hover img{
  transform: scale(1.2);
  cursor: pointer;
}

/*effect hover descriptoion*/

.itemBox .img-link:hover a{
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background: #191919;
}

.itemBox:hover .img-link{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.itemBox .img-link a i{
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  color: #fff;
  font-size: 25px;
}
/*  SECTION PROJECTS END    */


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 7*/
/*Section CONTACT*/
/*.contact .title::after{ content: "get in touch";    }*/
.contact{   height: 70vh;   }

/*FINAL Section CONTACT*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 8*/
/*Section FOOTER*/
footer{
    /*background: #111;padding: 15px 23px;color: #fff;text-align: center;*/
    position: relative;
    display: flex;
    width: 100%;
    background: #00AAE4;
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer .social-icons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

footer .social-icons li{    list-style: none;   }

footer .social-icons li a{
    display: inline-block;
    font-size: 2.5em;
    margin: 0 10px;
    color: #fff;
    transition: all 0.3s ease;
}

footer .social-icons li a:hover{    transform: translateY(-10px); color: #00f ; font-weight: bold;   }

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}


footer a{
    color: #000;
    font-size: 1.1em;
    font-family: "Ubuntu", monospace;
    font-weight: bold;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/img/wave.svg);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: .9;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1200;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave3 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave4 3s linear infinite;
}

@keyframes animateWave{   
    0%{    background-position-x: 1000px;    }  
    100%{    background-position-x: 0px;    }  
}

@keyframes animateWave2{   
    0%{    background-position-x: 0px;    }  
    100%{    background-position-x: 1000px;    }  
}

@keyframes animateWave3{   
    0%{    background-position-x: 1000px;    }  
    100%{    background-position-x: 0px;    }  
}

@keyframes animateWave4{   
    0%{    background-position-x: 1000px;    }  
    100%{    background-position-x: 0px;    }  
}
/*FINAL Section FOOTER*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 9*/
/*Section responsive media query start*/
@media (max-width: 1104px) {
.about .about-content .left img{    height: 350px;  width: 350px;   }   }

@media (max-width: 991px) {
.max-width{ padding: 0 50px;    }   }

@media (max-width: 947px){
    .menu-btn{  display: block;    z-index: 999;   }
    .menu-btn i.active:before{  content: "\f00d";   }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

.navbar .menu.active{   left: 0;    }

.navbar .menu li{   display: block; }

.navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    }

.home .home-content .text-2{    font-size: 70px;    }

.home .home-content .text-3{    font-size: 35px;    }

.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
    }

.max-width{ max-width: 930px;   }

.about .about-content .column{  width: 100%;    }

.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    }

.about .about-content .right{   flex: 100%; }

.services .serv-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    }

.skills .skills-content .column,
.contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{ padding: 0 23px;    }
    .home .home-content .text-2{    font-size: 60px;    }
    .home .home-content .text-3{    font-size: 32px;    }
    .home .home-content a{  font-size: 20px;    }
    .services .serv-content .card{  width: 100%;    }
    
    .waves{
        width: 0%;
        height: 10vh;
    }

    
}

@media (max-width: 500px) {

    .home .home-content .text-2{    font-size: 50px;    }
    .home .home-content .text-3{    font-size: 27px;    }

    .about .about-content .right .text,
    .skills .skills-content .left .text{    font-size: 19px;    }

    .contact .right form .fields{   flex-direction: column; }

    .contact .right form .name,
    .contact .right form .email{    margin: 0;  }

    .right form .error-box{ width: 150px;   }

    .scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
    }

}/*FINAL Section responsive media query start*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 10*/
/*Section */
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Codigo 11*/
/*Section */

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
/**/